<div class="nj-carousel--s2-container">
    <div class="nj-carousel--s2-size">
        <div class="nj-carousel--s2-absolute">
            <div class="nj-carousel--s2">
                <div>
                    <div class="nj-card--s2">
                        <img src="assets/images/card__avatar.png" alt="">
                        <h3>Host &amp; Facilitator</h3>
                        <h4>NV</h4>
                        <p>
                            Founder - Nujam, Built 4 tech startups, Co-built Shopo:
                            Chat &amp; buy marketplace, Snapdeal, ITC
                        </p>
                    </div>
                </div>
                <div>
                    <div class="nj-card--s2">
                        <img src="assets/images/card__avatar.png" alt="">
                        <h3>Host &amp; Facilitator</h3>
                        <h4>NV</h4>
                        <p>
                            Founder - Nujam, Built 4 tech startups, Co-built Shopo:
                            Chat &amp; buy marketplace, Snapdeal, ITC
                        </p>
                    </div>
                </div>
                <div>
                    <div class="nj-card--s2">
                        <img src="assets/images/card__avatar.png" alt="">
                        <h3>Host &amp; Facilitator</h3>
                        <h4>NV</h4>
                        <p>
                            Founder - Nujam, Built 4 tech startups, Co-built Shopo:
                            Chat &amp; buy marketplace, Snapdeal, ITC
                        </p>
                    </div>
                </div>
                <div>
                    <div class="nj-card--s2">
                        <img src="assets/images/card__avatar.png" alt="">
                        <h3>Host &amp; Facilitator</h3>
                        <h4>NV</h4>
                        <p>
                            Founder - Nujam, Built 4 tech startups, Co-built Shopo:
                            Chat &amp; buy marketplace, Snapdeal, ITC
                        </p>
                    </div>
                </div>
                <div>
                    <div class="nj-card--s2">
                        <img src="assets/images/card__avatar.png" alt="">
                        <h3>Host &amp; Facilitator</h3>
                        <h4>NV</h4>
                        <p>
                            Founder - Nujam, Built 4 tech startups, Co-built Shopo:
                            Chat &amp; buy marketplace, Snapdeal, ITC
                        </p>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>


<script>
    $(function(){
        $('.nj-carousel--s2').slick({
            slidesToShow: 2,
            slidesToScroll:2,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    });
</script>