<div class="nj-carousel--s1">
    <div>
        <ul class="nj-list--centered">
            <li>Websites</li>
            <li>Online Marketing</li>
            <li>Chatbots</li>
            <li>E-commerce</li>
            <li>Data Analysis &amp; Visualization</li>
        </ul>
    </div>
    <div>
        <ul class="nj-list--centered">
            <li>Websites2</li>
            <li>Online Marketing2</li>
            <li>Chatbots2</li>
            <li>E-commerce2</li>
            <li>Data Analysis &amp; Visualization2</li>
        </ul>
    </div>
</div>


<script>
    $(function(){
        $('.nj-carousel--s1').slick();
    });
</script>