
// Colors
// -----------
$primary: #6a2b84;

$black: #000;
$white: #fff;
$yellow: #f8e552;

$grey-darker: #5d5d5d;
$grey-dark: #221E1F;
$grey: #646565;
$grey-light: #6D6F72;
$grey-lighter: #f6f7f8;

// Spacing
// ----------
$spacer: 15px;

// paths
// ----------
$fonts: '../fonts';
$images: '../images';

// BS3
// ----------
$icon-font-path: '../../node_modules/bootstrap-sass/assets/';

// fonts
// ----------
$font-sizes: ('40', '32', '24', '20', '18', '16', '14', '8');

$spaces: ('5', '10', '15', '20', '25', '30', '35', '40', '45');
$margins: ('5', '10', '15', '20', '25', '30', '35', '40', '45');
