@media (min-width: $screen-md-min) {
    .nj-card--s1 {
        width: 70%;
        height: 180px;
        padding-left: 114px;
        padding-top: 15px;
        img {
            top: -12px;
            left: -89px;
            width: 200px;
            height: 200px;
        }
        p {
            font-size: 24px;
        }
    }

    .nj-card--s2 {
        width: 400px;
        height: 400px;

        
        img {
            width: 150px;
            height: 150px;
            margin: 0 auto;
        }
        h3 {
            font-size: 24px;
            color: $primary;
            margin-bottom: 0;
        }
        h4 {
            font-size: 24px; 
            margin-top: 5px;       
        }
        p {
            font-size: 24px;
            color: $grey;
        }
    }
}
