.nj-cta--s1 {
    background-color: $grey-lighter;
    padding: 30px;
}

.nj-cta__box {
    text-align: center;

    > p {
        margin-bottom: 5px;
    }
    > p:last-of-type {
        margin-bottom: 0;
    }
}

.nj-cta__btn {
    @extend .nj-btn--primary;
}

.nj-cta--s2 {
    @extend .nj-cta--s1;
    display: flex;
    justify-content: center;
    .nj-cta__box:first-of-type {
        margin-right: 45px;
    }
    .nj-cta__box:last-of-type {
        margin-left: 45px;
    }
}