.nj-hr {
    display: block;
    width: 100%;
    line-height: 0;
    &::after {
        content: "";
        display: inline-block;
        width: 180px;
        height: 2px;
        background-color: #fff;
    }
}