@media (min-width: $screen-md-min) {

    .nj-site-header {
        .navbar-header {
            width: 9.72%;
        }

        .navbar-brand {
            width: 100%;
            padding: 0;
            padding-left: 39px;
            box-sizing: initial;
            padding-top: 38px;

            img {
                width: 100%;
            }
        }
    }

    .nj-section--s1 {
        background-image: url('../images/section--s1.svg');
        background-repeat: no-repeat;
        background-position: -45% center;
        background-size: contain;
        padding: 0;
        padding-bottom: 31%;
        position: relative;
        > div {
            padding-top: 50px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        .nj-content {
            width: 60%;
            margin-left: 34.3%;
            padding-top: 0px;
        }
    }

    .nj-section--s2 {
        background-image: url(../images/section--s2.svg);
        background-repeat: no-repeat;
        background-position: 146% center;
        background-size: contain;
        padding: 0;
        padding-bottom: 31%;
        position: relative;

        .container {
            padding-left: 80px !important;
        }

        > div {
            position: absolute;
            padding-top: 3%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    .nj-section--s3 {
        background-image: url('../images/section--s3.svg');
        background-repeat: no-repeat;
        background-position: -50% center;
        background-size: 60%; 
        padding: 0;
        padding-bottom: 28%;
        position: relative;

        > div {
            position: absolute;
            padding-top: 3%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }   
    }

    .nj-site-footer {
        padding: 35px 30px;
        .nj-__s1 {
            font-size: 16px;
        }
        .nj-__s2 {
            font-size: 24px;
            margin-top: 20px;
        }
        .nj-__social-icons {
            margin-top: 18px;
            margin-bottom: 30px;

            > a {
                width: 100px;
                height: 80px;
                font-size: 42px;
            }
        }
        .nj-__logo {
            position: relative;
            > img {
                position: absolute;
                width: 230px;
                left: 40.5%;
                bottom: -50px;
            }
        }
    }
}